* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0a3d62;
  --secondary-color: #3c6382;
}

body {
  background-color: var(--secondary-color);
}
.header {
  height: 80px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  width:70%;
}

.set-right{
  float: right;
  border:none;
  padding:3px;
  background:rgb(161, 8, 8);
  color:white;
  cursor:pointer;
}

.task-list {
  width:82%;
  list-style: none;
}

li{
  padding:10px;
  background:rgb(146, 181, 181);
  margin-bottom:20px;

}



.input{
  width:70%;
  padding: 10px 10px;
  outline: none;
}

.addBtn {
  border: none;
  padding: 11px 28px;
  background: var(--primary-color);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.addBtn:hover {
  background: #0c2461;
}

.addBtn:active {
  outline: none;
  position: relative;
  box-shadow: 5px 5px 0 rgba(11, 11, 11, 0.8);
  top: 2px;
  right: 2px;
}

